.product {
    display:flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 15px;
    width: 170px;
}

.img {
width: 100%;
background-color: antiquewhite;
height:100px;
margin: 0 auto;
margin-bottom: 10px;
}

.description {
    font-size: 0.8em;
    margin: 7px 0px;
}

.add-btn {
    width: 100%;
    margin-top: 10px;
}